@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", "sans-serif";
  --font-serif: "Playfair Display", "serif";
  --color-florenzi-bg: #AFCCBF;
  --color-florenzi-text: #1C2924;
  --color-florenzi-accent: #E5EFEA;
}

html.lenis, html.lenis body {
  height: auto;
}

body {
  background-color: var(--color-florenzi-bg);
  color: var(--color-florenzi-text);
  overflow-x: hidden;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
